.BookingSite {
    background-image: url("https://s3.rdbuz.com/images/webplatform/india/HomeBannerNew.png");
    background-size: contain;
    width: 100vw;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-sizing: border-box;
}

.BookingSite h1 {
    padding: 2rem;
    color: white;
    font-size: 2.5rem;
    margin-top: -17rem;

}

.search_bus {
    background-color: white;
    width: 58rem;
    height: 7rem;
    border-radius: 2.2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    position: relative;
}

.from {
    display: flex;
    align-items: center;

    margin-right: -2rem;
}

.bus_in i {

    padding: 1rem;
    font-size: 2rem;

}

.bus_in_from input {
    border: none;
    background-color: transparent;
    outline: none;

}

.circle i {
    position: relative;
    font-size: 2.2rem;
}

.arrow_in {
    position: absolute;
    margin-top: -1.8rem;
    margin-left: 0.5rem;
}

.bus_in {
    margin-left: 20px;
}

.calender {
    display: flex;
    align-items: center;
    font-size: 2rem;

}

.calender_img i {
    margin-right: 1rem;
}

.date {
    font-size: 1rem;
}

.date input {
    border: none;
    background-color: transparent;
    outline: none;
}

.search_box {

    background-color: #d84e55;
    width: 18rem;
    height: 7rem;
    border-radius: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 2.2rem 2.2rem 0;
}


button {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    outline: none;
}

.TRENDING_OFFERS {
    margin-top: -3rem;
    min-width: 87vw;
    min-height: 58vh;
    margin-left: 0;
    margin-right: 3.5rem;
    background-color: white;
    font-weight: 400;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 3px 3px lightcyan;
}

.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner_card{
    display: flex;
    overflow:scroll hidden;
    gap: 1.5rem;
    scroll-behavior: smooth;
    /* background-color: white; */
    padding: 1rem;
    min-width: 83vw;
    min-height: 15rem;
    align-items: center;   
    box-sizing: border-box; 
}
.inner_card::-webkit-scrollbar{
    display: none;
}



.first_card {
    display: flex;
    min-width: 22rem;
    min-height: 12rem;
    border-radius: 1rem;
    color: white;
    background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}

.first_card_img img {
    border-radius: 70%;
}

.first_card_secation {
    display: flex;
    flex-direction: column;

}

.first_card_bus {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    font-size: 12px;
    text-align: center;
    
    
}

.first_card_save {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.first_card_valids {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.first_card_last {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.first_card_last_first {
    border: 1px  rgb(255, 255, 255);
    border-radius: 0.25rem;
    max-width: 140px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.25rem 0.5rem;
    
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.secand_card {
    display: flex;
    min-width: 22rem;
    min-height: 12rem;
    border-radius: 1rem;
    color: white;
    background-image: linear-gradient(71.04deg, rgb(39, 57, 101) -6.92%, rgb(80, 210, 149) 109.43%);
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}

.secand_card_img img {
    border-radius: 50%;
}

.secand_card_secation {
    display: flex;
    flex-direction: column;

}

.secand_card_bus {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.secand_card_save {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.secand_card_valids {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.secand_card_last {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.secand_card_last_first {
    border: 1px  rgb(255, 255, 255);
    border-radius: 0.25rem;
    max-width: 140px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.25rem 0.5rem;
    
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.third_card {
    display: flex;
    min-width: 22rem;
    min-height: 12rem;
    border-radius: 1rem;
    color: white;
    background-image: linear-gradient(71.04deg, rgb(72, 0, 4) -6.92%, rgb(216, 78, 85) 109.43%);
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}

.third_card_img img {
    border-radius: 50%;
}

.third_card_secation {
    display: flex;
    flex-direction: column;

}

.third_card_bus {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0.5rem;
}

.third_card_save {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

.third_card_valids {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.third_card_last {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.third_card_last_first {
    border: 1px  rgb(255, 255, 255);
    border-radius: 0.25rem;
    max-width: 140px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.25rem 0.5rem;
    
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.train_section{
    display: flex;
    margin: 5rem;
    width: 90vw;
    height: 40rem;
    /* background-color: #1d1d1d; */
}
.train1{
    width: 50%;
    /* background-color: #007b2d; */
}
.More_than p{
    font-size: 2.8rem;
    color: #2c2727;
    font-weight: 200;
    margin-bottom: 2rem;
}
.train_img{
    border-bottom: 2px;
    border-color: black;
}
.train_img img {
    width: 8rem;
    height: 2rem;
    border: none;
}
.train_img span{
    color: #d84e55;
    font-size: 1.8rem;
    border-bottom: #d84e55 2px;
    margin-top: -1.5rem;
}
    hr{
        width: 18rem;
        margin-left: 1rem;
        margin-top: 1rem;
        height: 2px;
        background-color: #d84e55;
        border: 0;
    }
.abouttrain p{
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.support_img{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 1rem;
}
.support_about{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 17px;
    color: rgb(29, 29, 29)
}
.train_button > button{
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(216, 78, 85);
    border: 1px solid rgb(216, 78, 85);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.train2{
    width: 35.25rem;
    background-image: url(https://s3.rdbuz.com/web/images/homeV2/AboutUs/aboutUsImg.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.train2_img{
    box-sizing: border-box;
}
.train2_img img{
    border: none;
}

.global_presence{
    margin: 0 auto;
    max-width: 75rem;
}
.global_presence_section{
    padding: 5.625rem 0px;
}
h2{
    margin: 0px 0px 2rem;
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: rgb(29, 29, 29);
    font-weight: 500;
}
.global_presence_wrap{
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.global_presence_data_wrap{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.global_img{
    box-sizing: border-box;
}
.global_img img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 0.75rem;
}
.global_data{
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: rgb(29, 29, 29);
    padding: 0.6rem 2rem;
}
.primo{
    margin: 6rem 6rem;
}
.primo_next{
    background: rgb(251, 202, 65);
    height: 34.5rem;
    width: 75rem;
    display: flex;
    border-radius: 2.5rem;
}
.primo_img{
    box-sizing: border-box;
}
.primo_img img{
    width: 50rem;
    height: 34.5rem;
    border-radius: 2.5rem 0px 0px 2.5rem;
}
.primo_content{
    height: 34.5rem;
    width: 30.125rem;
    border-radius: 2.5rem;
    background: rgb(35, 48, 88);
    padding: 5rem 2.625rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    color: rgb(255, 255, 255);
}
.primo_content1{
    box-sizing: border-box;
    
}
.on_time{
    display: flex;
    gap: 1.5rem;
    -webkit-box-align: center;
    align-items: center;
}
.time_img i{
    font-size: 2rem;
}
   .primo_time_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    flex: 1 0 0px;
    color: rgb(255, 255, 255);
}
.time1{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}
.time2{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}
.primo_content2{
    display: flex;
    gap: 1.5rem;
    -webkit-box-align: center;
    align-items: center;

}
.primo_content2_img > i{
     width: px; 
    height: 1.25rem; 
    font-size: 2rem;
    margin-left: -1.5rem;
}
.friend_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    flex: 1 0 0px;
    color: rgb(255, 255, 255);
}
.deals{
    margin: 0px 4rem 3rem 2rem;
    padding: 3rem;
    width: 80vw;
}
.deals_section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.deals_handing h1{
    margin: 1rem 0;
    color: #1d1d1d;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
}
.deals_section p{
    color: #1d1d1d;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

/* unnlock deals */

.unlock_deals{
    margin-right: 2rem;
    margin-left: 5rem;
    margin-top: -4rem;
    margin-bottom: 3rem;
    border: 1px solid black;
    /* background-color: #007b2d; */
    width: 80vw;
    height: 10rem;
    border-radius: 1.3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.unlock_deals_bus img{
    font-size: 4em;
    color: #d84e55 !important;
    width: 4rem;
    height: 4rem;
}
.content_unlock_deals{
    display: flex;
    flex-direction: column;
}
#unlock_deals_p{
    font-size: 1.5rem;
    font-weight: 600;
}
#unlock_deals_p span{
    color: #d84e55;
    font-size: 1.75rem;
}
#unlock_deals_red{
    font-weight: 600;
}
.unlock_deals_red_span{
    color: #d84e55;
    font-size: 1rem;
}
.unlock_deals_line{
    border-right: 1px solid #000;
    margin: 0 .5em;
}

button{
    background-color: #d84e55;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
    height: 3rem;
    width: 9rem;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-left: 9rem;
    border: none;
}
.FQA_Container{
    margin: 0px 0px 3rem 0px;
    box-sizing: border-box;
}
.FQA_content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}
.FQA_content h2{
    font-weight: 400;
    margin: 0 0 2.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #1d1d1d;
}
.FQAheadsection{
    display: flex;
    box-sizing: border-box;
    gap: 2rem;
    margin-bottom: 2rem;
    color: #1d1d1d;
    overflow: scroll hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.fqaheadtiles{
    cursor: pointer;
}
.fqaheadtext{
    color: #d84e55;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: .75rem .5rem;
}
.fqabottomboard{
    border-bottom: 3px solid #d84e55;
    border-radius: 3px 3px 0 0;
}
.FqaQnaContainer{
    display: flex;
}
.FqaQnaSection{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.FqaQuestionSection{
    border-radius: 1rem;
    border: 1px solid #f3f4f9;
    padding: 1.75rem 1.5rem;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
    cursor: pointer;
}
.FqaQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.hide{
    display: none;
}

/* scrolltotopwrapper */

@media (min-width: 1440px) {
    .scrolltotopwrapper {
        max-width: 1200px;
        margin: 0 auto 2rem;
    }
    .scrolltotopwrapper {
        position: sticky;
        bottom: 2rem;
        display: flex;
        margin: 0 7.5rem 2rem;
        justify-content: end;
    }
    .scrolltopbutton{
        padding: 1rem .5rem .75rem;
        border: 1px solid #3e3e52;
        border-radius: 16px;
        width: 40px;
        height: 56px;
        background: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
    .scrolltopbutton img{
    right: 11px;
    width: 16px;
    height: 18p
    }
}

/* footer */
.rh_footer_new {
    background-color: #f7f7f7;
}
footer{
    bottom: 0;
    width: 100%;
    clear: both;
    font-size: 14px;
    font-weight: 100;
    color: #e7e7e7;
    margin: 0 5rem 0 5rem;
}
.rb_footer {
    max-width: 1200px;
    margin: 2rem;
    padding: 1rem;
     
    
}
 @media (min-width: 1440px) { 
    .rb_footer {
        max-width: 1200px;
        margin: auto;
         padding-right: 0; 
        padding-left: 0; 
        /* padding: 5rem; */
        
    }
    .rb_footer {
        background-color: #f7f7f7;
    }
    .rb_footer {
        color: #3e3e52;
        padding: 3rem 7.5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        line-height: 20px;
    }
    
}
.footer_top_seo_content{
    max-width: 1200px;
    margin-bottom: 2rem;
    list-style-type: none;
}
.footer_li_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

}
.inter_link_container{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.inter_link_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inter_link_sec h3{
    font-size: 1.125rem;
    color: #000;
    font-weight: 900;
    line-height: 1.25rem;
    
}
.inter_link_sec i{
    font-size: 1rem;
    font-weight: 900;
    color: #1d1d1d;
}
.sec_link_container{
    margin: .5rem 0;
}
.horizantal_sep{
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
    margin-top: .5rem;
}
.footer_links{
    display: flex;
    width: 80%;
    justify-content:space-between;
    list-style-type: none;
    margin: 0px 5rem 0px 0rem;
   
}
.footer_link_section .main_footer_item{
    width: 17rem;
    box-sizing: border-box;
}
.footer_link_section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer_link_section_img{
    width: 6.25rem;
    height: 4.1rem;
    display: inline-block;
    vertical-align: middle;
    border: none;
}
.footer_text{
    box-sizing: border-box;
    color: #1d1d1d;
    width: 11rem;
}
    
.footer_link_section_title{
    font-size: 1.125rem;
    color: #1d1d1d;
    margin: 0;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.footer_link_section a{
    color: #3e3e52;
    text-decoration: none;
}
.horizontal_seperator{
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
}
.copyright_social_section {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.footer_copyright_text{
    color: #1d1d1d;
}
.social_section {
    display: flex;
    gap: 1.5rem;
}
.social_icon_item {
    cursor: pointer;
}


/* responshiv web side */


@media only screen and (max-width:768px)
{
    #main_nav{
        justify-content: space-around;
    }
    .BusT{
        margin-right: 6rem;
    }

     .bus_img{
        display: none;
    }
    .line{
        display: none;
    }
    .help{
        display: none;
    }
    .account{
        display: none;
    }

    .sidebar_icon{
        display: block;
    }    


    /* navbar end */

    .BookingSite{
        height: 50rem;
        width: 100vw;
    }
    .search_bus{
        background-color:white;
        flex-direction: column;
        width: 15rem;
        height: 20rem;
        border-radius: none;

    }
    .calender{
        margin-top: 1rem;
        margin-left: 4.5rem;
        font-size: 2rem;
    }
    .date{
        font-size: 1rem;
        border: black;
        outline: black;
    }
    .search_box {
        width: 15rem;
        height: 7rem;
        border-radius:none;
        text-align: center;
        background-color: white;
        border-radius: 2.2rem;
        
    
    }
    
    button{
        border: black;
        outline: black;
        margin-right: 9rem;
        margin-top: 1rem;
    }

    .train_section{
        display: none;
    }
    .app_install{
        display: none;
    }
    .primo{
        display: none;
    }
    .ex_online{
        display: none;
    }
    .deals{
        display: none;
    }
    .unlock_deals{
        display: none;
    }
    footer{
        margin-left: 0;
    }
    .footer_link_section{
        display: none;
    }
}
 